<h1> Hello world from basecamp!</h1>
        <h1>Workshop Todo List </h1>
        
        <ul>   
            <li> 
                <a href="/todo/show/1"> Make the curriculum</a>
                <span class="pomodoro-estimate">4 pomodoros</span>
            </li>
            <li>
                <a href="/todo/show/2"> Buy workshop supplies </a>
                <span class="pomodoro-estimate"> 3 pomodoros</span> 
            
            </li>
                <a href="/todo/show/3"> Meet with the volunteer trainers </a>
                <span class="pomodoro-estimate"> 2 pomodoros</span>
                
            <li>
                <a href="/todo/show/4"> Order food for Saturday and Sunday</a>
                <span class="pomodoro-estimate">1 pomodoro</span>
               
            </li>
            <li>
                <a href="/todo/show/5"> Check pre-work assignment</a>
                  <span class="pomodoro-estimate">2 pomodoros</span> 
                </a>
            <li>
                <a href="/todo/show/5"> Send workshop location to all the students </a> 
                <span class="pomodoro-estimate"> 1 pomodoro</span>
                
            </li>
            <li>
                <a href="/gittodo/show/6"> Have a great workshop</a>
                <span class="pomodoro-estimate"> 0 pomodoros</span>
            </li>
    
        </ul>
       <a href="new.html">  Add todo </a></h1>
